.top-div {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0%;
    width: 100%;
    height: 10%;
    z-index: 99;
}

.top-button {
    height: 100px;
    font-size: 40px;
    z-index: 100;
}

.left-div-out {
    position: fixed;
    top: 10%;
    left: 0%;
    width: 15%;
    height: 90%;
}

.left-div-in {
    position: absolute;
    top: 0%;
    left: 5%;
    width: 90%;
    height: 98%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    border-radius: 10px;
}

.anchor {
    color: blue;
    text-decoration: underline;
    z-index: 113;
}

.error-text {
    color: black;
    text-decoration: underline;
    z-index: 113;
}

.playlist {
    padding: 20px, 20px, 20px, 20px;
    margin: 20px, 20px, 20px, 20px;
    width: 80%;
    height: 25%;
    border-radius: 30px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.playlist:hover {
    cursor: pointer;
}

.bottom-div {
    position: fixed;
    display: flex;
    justify-content: center;
    top: 87%;
    left: 15%;
    width: 84%;
    height: 11%;
    border-radius: 10px;
    z-index: 101;
}

.play-button-out {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    overflow: hidden;
    border: none;
    width: 8%;
    height: 100%;
    font-size: 45px;
}

.play-button-svg {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    overflow: hidden;
    border: none;
    top: 25%;
    height: 50%;
    line-height: 50%;
    border-radius: 50%;
    aspect-ratio: 1/1;
    z-index: 108;
    fill: #0000b0;
}
.play-button-svg:hover {
    fill: #0000f0;
}

.playbar-button-svg {
    justify-content: center;
    align-items: center;
    position: absolute;
    overflow: hidden;
    top: 25%;
    height: 50%;
    line-height: 50%;
    border-radius: 50%;
    aspect-ratio: 1/1;
    z-index: 108;
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}